In [1]:
# Import libraries

import os
import pandas as pd
import numpy as np

In [2]:
# datasets

train_df = pd.read_csv("../data/train/GNSS_raw_train.csv")
test_df = pd.read_csv("../data/test/GNSS_raw_test.csv")

In [3]:
# train data

train_df.head()

,GPS_Time(s),Satelite_Code,Code_L1,Phase_L1,Doppler_L1,Cnr_L1,code_L2,Phase_L2,Doppler_L2,Cnr_L2,Label,Pr_Error,Latitude,Longitude,Height
0,1.305254e+09,G1,23009427.72,0.0,2573.797,27.0,0.0,0.0,0.0,0.0,0.0,-7.08,22.3012,114.179057,3.472
1,1.305254e+09,G4,25128493.65,0.0,-3386.467,18.0,0.0,0.0,0.0,0.0,0.0,55.83,22.3012,114.179057,3.472
2,1.305254e+09,G8,22522476.85,0.0,-2432.885,27.0,0.0,0.0,0.0,0.0,0.0,-8.31,22.3012,114.179057,3.472
3,1.305254e+09,G9,24456093.34,128517615.3,-2530.973,33.0,0.0,0.0,0.0,0.0,0.0,-7.00,22.3012,114.179057,3.472
4,1.305254e+09,G21,22049460.63,0.0,327.015,24.0,0.0,0.0,0.0,0.0,0.0,0.00,22.3012,114.179057,3.472

In [4]:
# test data

test_df.head()

,GPS_Time(s),Satelite_Code,Code_L1,Phase_L1,Doppler_L1,Cnr_L1,code_L2,Phase_L2,Doppler_L2,Cnr_L2
0,1322550498,G10,2.363762e+07,1.242165e+08,-4086.455,39,0.0,0.0,0.0,0
1,1322550498,G26,2.066044e+07,1.085714e+08,694.854,45,0.0,0.0,0.0,0
2,1322550498,G31,2.159452e+07,1.134800e+08,-1126.554,42,0.0,0.0,0.0,0
3,1322550498,G32,2.109113e+07,1.108347e+08,-882.245,42,0.0,0.0,0.0,0
4,1322550498,R5,2.013657e+07,1.076415e+08,1756.425,37,0.0,0.0,0.0,0

In [5]:
# selecting same features as test data including label for training data
training_features = ['GPS_Time(s)', 'Satelite_Code', 'Code_L1', 'Phase_L1', 'Doppler_L1',
       'Cnr_L1', 'code_L2', 'Phase_L2', 'Doppler_L2', 'Cnr_L2', 'Label']

In [6]:
# training data from selected features
train_data = train_df[training_features]
test_data = test_df.copy()

In [7]:
# data summary train and test

In [12]:
train_data.shape, test_data.shape

((83934, 11), (36188, 10))

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83934 entries, 0 to 83933
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GPS_Time(s)    74085 non-null  float64
 1   Satelite_Code  74085 non-null  object
 2   Code_L1        74085 non-null  float64
 3   Phase_L1       74085 non-null  float64
 4   Doppler_L1     74085 non-null  float64
 5   Cnr_L1         74085 non-null  float64
 6   code_L2        74085 non-null  float64
 7   Phase_L2       74085 non-null  float64
 8   Doppler_L2     74085 non-null  float64
 9   Cnr_L2         74085 non-null  float64
 10  Label          74085 non-null  float64
dtypes: float64(10), object(1)
memory usage: 7.0+ MB

In [16]:
83934-74085 # null data

9849

In [17]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36188 entries, 0 to 36187
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GPS_Time(s)    36188 non-null  int64
 1   Satelite_Code  36188 non-null  object
 2   Code_L1        36188 non-null  float64
 3   Phase_L1       36188 non-null  float64
 4   Doppler_L1     36188 non-null  float64
 5   Cnr_L1         36188 non-null  int64
 6   code_L2        36188 non-null  float64
 7   Phase_L2       36188 non-null  float64
 8   Doppler_L2     36188 non-null  float64
 9   Cnr_L2         36188 non-null  int64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.8+ MB

In [18]:
# no nulls in test data
# there are 9849 null in train data

In [19]:
# check nulls

In [20]:
train_data.isna().sum(axis=0)

GPS_Time(s)      9849
Satelite_Code    9849
Code_L1          9849
Phase_L1         9849
Doppler_L1       9849
Cnr_L1           9849
code_L2          9849
Phase_L2         9849
Doppler_L2       9849
Cnr_L2           9849
Label            9849
dtype: int64

In [21]:
test_data.isna().sum(axis=0)

GPS_Time(s)      0
Satelite_Code    0
Code_L1          0
Phase_L1         0
Doppler_L1       0
Cnr_L1           0
code_L2          0
Phase_L2         0
Doppler_L2       0
Cnr_L2           0
dtype: int64

In [33]:
# for model,
# model without gps time
# map satelite code to numerical form
# remove null data